<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="fragment/common :: headerFragment(title='Property Finder - Analysis')"></head>

<body>
<link href="css/analysis.css" rel="stylesheet"/>

<div th:include="fragment/common :: navbarFragment"></div>
<div class="container pf-content-container">
    <div class="col-sm-12">
        <div class="row">
            <h3>Analysis</h3>
        </div>
        <div class="row pf-option-row">
            <div class="form-group">
                <div class="col-sm-2">
                    <div class="row">
                        <label for="pf-beds-selector">Beds</label>
                        <select class="form-control" id="pf-beds-selector">
                            <option>Studio</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2 col-sm-offset-2">
                    <div class="row">
                        <label for="pf-bathrooms-selector">Bathrooms</label>
                        <select class="form-control" id="pf-bathrooms-selector">
                            <option>Any</option>
                            <option>1+</option>
                            <option>2+</option>
                            <option>3+</option>
                            <option>4+</option>
                            <option>5+</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2 col-sm-offset-2">
                    <div class="row">
                        <label for="pf-cars-selector">Cars</label>
                        <select class="form-control" id="pf-cars-selector">
                            <option>Any</option>
                            <option>1+</option>
                            <option>2+</option>
                            <option>3+</option>
                            <option>4+</option>
                            <option>5+</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <form action="#" th:action="@{/analysis/searchSoldProperties}" method="post">
            <div class="row">
                <div class="input-group">
                    <button id="pf-search-sold-properties-button" class="btn btn-default">Search Sold Properties</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

</html>
