<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.springframework.org/schema/mvc"
      layout:decorator="layout">

<!--Attributes in here will be insert into the layout <head>-->
<head>
    <title>Property Finder - Settings</title>
    <link rel="stylesheet" href="css/settings.css"/>
</head>

<body>

<div layout:fragment="content">
    <div class="col s10 offset-s1">
        <div class="row">
            <h4>Edit Search Settings</h4>
        </div>
        <div class="row">
            <h5>Add locations</h5>
            <div id="pf-saved-searches-error" class="alert alert-danger" role="alert">
                <span></span>
            </div>
            <form id="pf-search-location-form" action="#" th:action="@{/settings/locations}"
                  th:object="${searchLocationForm}" method="post">
                <div class="input-field">
                    <input id="pf-search-location-input" type="text" class="form-control" placeholder="Ex. Sydney NSW, 2000"
                           th:field="*{content}"/>
                    <button id="pf-search-location-add" class="btn" type="button">Add</button>
                </div>
            </form>
        </div>
        <br/>
        <div class="row">
            <h5>Currently Watching</h5>
            <ul id="pf-saved-searches-list" class="collection">
                <li th:each="savedSearch,iter : ${savedSearches}"
                    th:id="${'pf-saved-searches-item-' + iter.index}"
                    class="collection-item pf-saved-search-item">
                    <div class="col s6 valign-wrapper">
                        <span th:text="${savedSearch.suburbName + ' ' + savedSearch.state + ', ' + savedSearch.postcode}"></span>
                    </div>
                    <div class="col s6">
                        <a th:id="${'pf-saved-searches-delete-' + iter.index}"
                           class="waves-effect waves-light btn right pf-saved-searches-delete-button">
                            <i class="material-icons">clear</i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="src/settings.js"></script>
</body>
</html>