<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.springframework.org/schema/mvc"
      layout:decorator="layout">

<!--Attributes in here will be insert into the layout <head>-->
<head>
    <title>Property Finder - Settings</title>
    <link rel="stylesheet" href="css/budgets.css"/>
</head>

<body>

<div layout:fragment="content">
    <div class="col s10 offset-s1">
        <div class="row">
            <h3>Edit Search Settings</h3>
        </div>
        <div class="row">
            <h4>Add locations</h4>
            <div id="pf-saved-searches-error" class="alert alert-danger" role="alert">
                <span></span>
            </div>
            <form id="pf-search-location-form" action="#" th:action="@{/settings/locations}" th:object="${searchLocationForm}" method="post">
                <div class="input-group">
                    <input id="pf-search-location-input" type="text" class="form-control" placeholder="Add a location"
                           th:field="*{content}"/>
                    <div class="input-group-btn">
                        <button id="pf-search-location-add" class="btn btn-primary" type="button">Add</button>
                    </div>
                </div>
            </form>
        </div>
        <br/>
        <div class="row">
            <h4>Currently Watching</h4>
            <ul id="pf-saved-searches-list" class="collection">
                <li th:each="savedSearch,iter : ${savedSearches}" th:id="${'pf-saved-searches-item-' + iter.index}"
                    class="collection-item">
                    <span th:text="${savedSearch.suburbName + ' ' + savedSearch.state + ', ' + savedSearch.postcode}"></span>
                    <a th:id="${'pf-saved-searches-delete-' + iter.index}" class="waves-effect waves-light btn right"><i class="material-icons">clear</i></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="src/settings.js"></script>
</body>
</html>